/*******************************************
FONTS:
    font-family: 'VT323', monospace;       footer
    font-family: 'B612 Mono', monospace;   regular text
    font-family: 'Bungee', cursive;        header
    font-family: 'Alfa Slab One', cursive; h tags
*******************************************/

/******************************************
COLOR SCHEME:
    #1C705E
    #B88A29  -- background
    #360000
    #421B45
    #CE7A5B
******************************************/
* {
    max-width: 960px;
    margin: 0px auto;
  }
  
  body {
    background-color: #b88a29;
    /* min-height: 90%; */
    text-align: center;
    display: inline;
  }
  /* 
  header {
    font-family: "B612 Mono", monospace;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "B612 Mono", monospace;
  }
   */
  
  #logo {
    width: 125px;
    height: 125px;
    float: center; /*    display: inline; */
  }
  
  h1#siteName {
    float: none;
    position: relative;
    display: inline;
    text-align: right;
    /* padding-top: 10px; */
    /* border-style: double; */
    /* font-size: .75em; */
  }
  
  /* .motto {
    display: inline;
  } */
  
  .header {
    background-color: chocolate;
    /* height: 100%; */
    /* padding-top: 10px;
      padding-bottom: 10px; */
    /* margin: none; 10px; */
    /* border-style: double; */
  }
  img {
    height: 175px;
    width: auto;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    font-family: "B612 Mono", monospace;
  }
  
  p {
    font-family: "B612 Mono", monospace;
  }
  
  footer {
    font-family: "VT323", monospace;
  }
  
  nav {
    padding-top: 15px;
    padding-bottom: 15px;
    /* border-style: double; */
  }
  
  .menu,
  /* .section3, */
  .section4,
  .section5,
  .section6 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 10px;
    /* border-style: double; */
  }
  
  .forecast-pic {
    width: 75%;
    height: auto;
    margin-top: 10px;
    position: static;
  }
  
  .weather-summary {
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    background-color:  rgba(184, 138, 41, 0.3);
    position: absolute;
    left: 30%;
    top: 19%;
    z-index: 1;
    /* max-width: 900px; */
  }
  
  /************************************* Media Query *************************************/
  @media screen and (max-width: 500px) {
    .forecast-pic {
      display: none;
    }
  
    .weather-summary{
      display: none;
    }
  }