@media screen and (min-width: 1201px) {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(167, 84, 25);
  }
  li {
    display: inline-block;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    transition-delay: 175ms;
    color: #999;
    background-color: #360000;
  }
  nav {
    padding: 0;
    margin: 0;
  }
  .menu {
    display: none;
  }
  .hide {
    display: block;
  }
  #gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    max-width: 1205px;
    margin: auto;
  }
  .gallery-pictures {
    margin: auto;
    padding: 0px;
    padding-bottom: 50px;
    max-width: 200px;
  }
  .gallery-pictures>img {
    width: 100%;
  }
  .highlight-this:hover {
    transform: scale(.92);
    transition-delay: 150ms;
    box-shadow: 0px 0px 25px 10px #360000;
  }
  /********************* INDEX/HOME  *********************/
  .towns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-basis: 1032px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .firstTown, .secondTown, .thirdTown {
    background: rgb(28, 112, 94, .7);
    border: 3px solid silver;
    margin: 20px;
    width: 370px;
  }
}